body {
  width: 375px;
  height: 667px;
  margin: auto;
  border: 1px solid rgb(201, 201, 201);
}
.header {
  position: relative;
  width: 100%;
  height: 88px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
}
.header-titles {
  padding: 43px;
  margin: 0;
  text-align: center;
}
.titles {
  padding: 40% 0;
  margin: 0;
  text-align: center;
}
.primary-input {
  margin: auto;
  padding: 10px 20px;
  width: 100%;
}
.next-btn {
  padding: 20%;
  position: relative;
  bottom: 30px;
}
.btn-primary {
  padding: 10px 30px;
  margin: auto;
  width: 100%;
  font-size: 16px;
}
.content {
  padding: 0 30px;
}
.main-content {
  margin: auto;
  padding: 0 30px;
}
.footer {
  background: #5796bc;
  padding: 10px 0;
  height: 68px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mood {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mood-titles,
.mood-titles h2 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
